.card {
    display: flex;
    align-items: center;
    border: none; 
    box-shadow: none; 
    margin: 0; 
    padding: 0;

    img {
        width: 120px; 
        height: 120px;
        object-fit: cover; 
        border-radius: 50%;
    }

    .name {
        font-weight: bold; 
        color: #3B3172; 
    }

    .role {
        color: #3B3172; 
    }

    .description {
        color: #001FA3;
    }
}

