.info {
    padding-top: 10px;
    margin-top: 20px;
  }
  
  .infoTitle {
    font-size: 50px !important;
    font-weight: bold; 
    margin-top: 20px;
  }

  .infoPara {
    margin-bottom: 60px !important; 
  }
  
  
  .row {
    margin-bottom: 0; 
  }
  
  .row img {
    object-fit: cover; 
    margin-bottom: 10px; 
  }
  
  .image-button-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }
  