.contact-card {
    background-color: black !important; 
    color: white; 
    padding: 60px; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); 
    width: 986px; 
    height: 381px;
    margin: 20px auto; 
    text-align: left; 
    border-radius: 30px;
    margin-top: -60px;
    margin-bottom: 60px;

    @media (max-width: 768px) {
        width: 386px; 
        height: 681px; 
    }

    .contact-title {
        margin-bottom: 15px; 
        font-size: 50px;
        font-weight: bold;

        @media (max-width: 768px) {
            font-size: 35px; 
        }
    }

    .contact-content {
        display: flex; 
        justify-content: space-between; 
        margin-bottom: 15px; 
        @media (min-width: 768px) {
            flex-direction: row; 
        }
    }

    .contact-description {
        flex: 1; 
        margin-right: 20px; 
    }

    .contact-info {
        text-align: right; 
    }

    .contact-phrase {
        margin-top: 15px; 
        font-weight: bold;
        font-size: 40px;

        @media (max-width: 768px) {
            font-size: 30px; 
        }
    }

}
